<form [formGroup]="form" (ngSubmit)="save()">
  <div class="grid-container">
    <div class="pct-300">
      <md-card>
        <md-tab-group formArrayName="categories">
          <md-tab *ngFor="let catMain of form.controls.categories.controls;let i = index;">
            <ng-template md-tab-label>
              {{catMain.controls.categoryName.value}}
            </ng-template>
            <div [formGroupName]="i">
              <div formArrayName="items">
                <div *ngFor="let item of catMain.controls.items.controls;let g = index;" class="list-separator">
                  <div [formGroupName]="g" class="padding">
                    <div class="pull-right">
                      <button type="button" md-icon-button (click)="item.expanded=!item.expanded">
                        <i class="material-icons" *ngIf="!item.expanded">expand_more</i>
                        <i class="material-icons" *ngIf="item.expanded">expand_less</i>
                      </button>
                    </div>
                    <div>
                      <div>
                        <div class="line-delete">
                          <div class="btn-delete">
                            <a md-mini-fab href="javascript:void(0)" color="warn" (click)="deleteAttribute(catMain.controls.items,g);">
                              <i class="material-icons">delete</i>
                            </a>
                          </div>
                          <div class="content-line-1">
                            <md-input-container class="input-line">
                              <input appHasError [error]="item.controls.name.invalid" mdInput placeholder="Name" formControlName="name" class="input-item">
                            </md-input-container>
                          </div>
                          <div class="content-line-2">
                            <md-input-container class="input-item">
                              <input mdInput placeholder="Description" formControlName="description" class="input-item">
                            </md-input-container>
                          </div>
                        </div>
                        <div class="line-delete">
                          <div class="btn-delete"></div>
                          <div class="btncontent-line-1">
                            <div appErrorMessages control="Name" [invalid]="item.controls.name?.invalid" [errors]="item.controls.name.errors" class="errors" *ngIf="item.controls.name?.invalid && item.controls.name?.touched"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="item.expanded==true">
                      <div class="form-line">
                        <div class="form-line-2">
                          <md-select formControlName="deviceResource" [disabled]="true" placeholder="Device Resource Type" class="input-item-2 form-line-1">
                            <md-option value="">Device Resource Type</md-option>
                          </md-select>
                        </div>
                        <div class="form-line-2">
                          <md-input-container class="input-item-2 form-line-1">
                            <input mdInput placeholder="Default Value" formControlName="defaultValue" class="input-item" [readonly]="formats[item.controls.dataType.value]?.length == 0">
                          </md-input-container>
                        </div>
                      </div>
                      <div class="form-line">
                        <div class="form-line-2">
                          <md-select placeholder="Data Type" formControlName="dataType" class="input-item-2 form-line-1">
                            <md-option *ngFor="let type of dataTypes" [value]="type">
                              {{type}}
                            </md-option>
                          </md-select>
                        </div>
                        <div class="form-line-2">
                          <md-select placeholder="Format" formControlName="format" [disabled]="formats[item.controls.dataType.value]?.length === 0" (change)="refreshDataView();" class="input-item-2 form-line-1">
                            <md-option *ngFor="let format of formats[item.controls.dataType.value]" [value]="format">
                              {{format}}
                            </md-option>
                          </md-select>
                        </div>
                      </div>
                      <div class="form-line" *ngIf="item.controls.format.value === 'Number' && item.controls.dataType.value === 'String'">
                        <div class="form-line-2">
                          <div>
                            <md-input-container class="input-item-2">
                              <input appHasError [error]="item.controls.rangeMin.invalid" type="text" formControlName="rangeMin" mdInput placeholder="Range Min">
                            </md-input-container>
                          </div>
                          <div appErrorMessages control="Range min" [invalid]="item.controls.rangeMin?.invalid" [errors]="item.controls.rangeMin.errors" class="errors" *ngIf="item.controls.rangeMin?.invalid && item.controls.rangeMin?.touched"></div>
                        </div>
                        <div class="form-line-2">
                          <md-input-container class="input-item-2">
                            <input  appHasError [error]="item.controls.rangeMax.invalid" type="text" formControlName="rangeMax" mdInput placeholder="Range Max">
                          </md-input-container>
                          <div appErrorMessages control="Range max" [invalid]="item.controls.rangeMax?.invalid" [errors]="item.controls.rangeMax.errors" class="errors" *ngIf="item.controls.rangeMax?.invalid && item.controls.rangeMax?.touched"></div>
                        </div>
                      </div>
                      <div class="form-line" *ngIf="item.controls.format.value === 'Number' && item.controls.dataType.value === 'String'">
                        <div class="form-line-3">
                          <md-input-container class="input-separator">
                            <input type="text" formControlName="measureUnit" mdInput placeholder="Unit of Measurement">
                          </md-input-container>
                        </div>
                        <div class="form-line-3">
                          <md-input-container class="input-separator">
                            <input appHasError [error]="item.controls.precision2?.invalid" type="text" formControlName="precision2" mdInput placeholder="Precision">
                          </md-input-container>
                          <div appErrorMessages control="Precision" [invalid]="item.controls.precision2?.invalid" [errors]="item.controls.precision2.errors" class="errors" *ngIf="item.controls.precision2?.invalid && item.controls.precision2?.touched"></div>
                        </div>
                        <div class="form-line-3">
                          <md-input-container class="input-separator">
                            <input appHasError [error]="item.controls.accuracy?.invalid" type="text" formControlName="accuracy" mdInput placeholder="Accuracy">
                          </md-input-container>
                          <div appErrorMessages control="Accuracy" [invalid]="item.controls.accuracy?.invalid" [errors]="item.controls.accuracy.errors" class="errors" *ngIf="item.controls.accuracy?.invalid && item.controls.accuracy?.touched"></div>
                        </div>
                        </div>
                      <div>
                        <div formArrayName="enumerations" *ngIf="item.controls.format.value === 'None'">
                          <div *ngIf="item.controls.enumerations.controls.length == 0 && item.controls.dataType.value == 'String'">
                            <button md-button type="button" (click)="addEnumeration(item.controls.enumerations);" color="primary">
                              <i class="material-icons">add_circle</i> 
                            </button>
                            Enumerations
                          </div>
                          <div *ngIf="item.controls.enumerations.controls.length > 0">
                            <small>Enumerations ({{item.controls.enumerations.controls.length}})</small>
                          </div>
                          <div *ngFor="let enumeration of item.controls.enumerations.controls; let e = index;">
                            <button md-button color="primary" type="button" (click)="addEnumeration(item.controls.enumerations);">
                              <i class="material-icons">add_circle</i>
                            </button>
                            <md-input-container>
                              <input mdInput type="text" mdInput [formControlName]="e" placeholder="Enumerations" class="input-item">
                            </md-input-container>
                            <button md-button color="warn" type="button" (click)="removeEnumeration(item.controls.enumerations,e);">
                              <i class="material-icons">delete</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding">
              <button type="button" md-raised-button (click)="addItem(catMain.controls.items)">
                <i class="material-icons">add_circle</i> Add attribute
              </button>
            </div>
          </md-tab>
        </md-tab-group>
      </md-card>
      <div class="padding text-right">
        <button type="submit" md-raised-button color="primary" [disabled]="!form.valid">Save</button>
        <button type="button" md-raised-button color="warn" (click)="viewFormStatus()">Cancel</button>
      </div>
    </div>
    <div class="w-300">
      <md-card style="overflow:auto;">
        <pre>
          {{form.value.categories | json}}
        </pre>
      </md-card>
    </div>
  </div>
</form>