/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.tab-container{
    padding-top:20px;
}

.text-right{
    text-align:right;
}

.input-item{
    width:100%;
}
.input-item-2{
    width:50%;
}

.clearfix{
    position:relative;
    clear:both;
    display: block;
}

.list-separator{
    border-bottom:solid 2px #e5e5e5;
}